@import "normalize";

$bright-highlight: #FF0000;

.headdiv {
  margin-top: 20px;
  //margin: 12px;
  padding: 5px;
  padding-left:  25px;
  padding-right: 25px;
  margin-bottom: 10px;
  //padding: 80px 0 20px;
  border-radius: 15px;
-webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, .5);
   -moz-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, .5);
        box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, .5);
  //float: left;
  //clear: left;
  display: inline-block;
  background: #888;
}

h1 {
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 1px;
  //text-transform: uppercase;
  //text-shadow: 1px 2px 2px rgba(0,0,0, .8);
  //background: url("../images/middleman.png") no-repeat center 100px;
  //padding: 350px 0 10px;
  //margin: 0;
  //font-family: "Nunito", sans-serif;
  font-variant: small-caps;
  //padding: 20px;
  margin: 0px;
  color: rgba(1,1,1,0.5);
  text-shadow: 0px 0px 8px rgba(255,255,255,0.9);  
}



$image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEElEQVQImWNgYGD4z0AZAABABAEAuUSdjgAAAABJRU5ErkJggg==) repeat;

html {
  height: 100%;
background: #45484d;
background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));
background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%);
background: -o-linear-gradient(top,  #45484d 0%,#000000 100%);
background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%);
background: linear-gradient(to bottom,  #45484d 0%,#000000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
background-attachment: fixed;
  /* http://www.patternify.com/ */
  //background: $image;
  //background-color: #141925;
  
  //background: url("../images/screenshot_fbo3.png")
}

/*
body {
  background:url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEElEQVQImWNgYGD4z0AZAABABAEAuUSdjgAAAABJRU5ErkJggg==
  ) repeat;
  //background-color: #080F5E;
  background-color: #141925;
}
*/

@import url(http://fonts.googleapis.com/css?family=Lato:300);

.doc {
    color: #222; // #ddd
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  cursor: auto;

  background-color: #eee; // #ffffff;

  //border-left: solid 2px;
  //border-right: solid 2px;
  //border-bottom: solid 2px;
  
  //border-width:2px; // creates border an all 4 sides
  //border-color:#545454;
  //border-style:solid;

  width:800px;
  height:auto; 
  margin-left:auto;
  margin-right:auto; 
  vertical-align:text-middle;
  //margin-top:       30px;
  //margin-bottom:    30px; 
  padding-left:     30px;
  padding-right:    30px;
  padding-top:      5px;
  padding-bottom:   5px;
  font-size:        20px; /* default css is 16 */
  //font-family:      "Noto Serif", serif; /* "Old Standard TT", "Gentium Book Basic", "Ubuntu" */
  line-height:      170%;
  text-align: justify;
  text-shadow: 0 0 2px rgba(0,0,0,0.5);
  border-radius: 15px;
-webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, .5);
   -moz-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, .5);
        box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, .5);
}



@import url(http://fonts.googleapis.com/css?family=Nunito:300);

/*
body { font-family: "Nunito", sans-serif; font-size: 24px; }
a    { text-decoration: none; }
p    { text-align: center; }
sup  { font-size: 36px; font-weight: 100; line-height: 55px; }
*/

.button
{
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: #0C5;

  font-size: 24px;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  
  margin: 5em auto;
  
  position: absolute; 
  top:0; right:0; bottom:0; left:0;
  
  padding: 20px 10px;
  width: 220px;
  height:30px;
  border-radius: 10px;

  background: #0D6;
  border: 1px solid #0D6;
  color: #FFF;
  overflow: hidden;
  
  transition: all 0.5s;
}

.button:hover, .button:active 
{
  text-decoration: none;
  color: #0C5;
  border-color: #0C5;
  background: #FFF;
}

.button span 
{
  display: inline-block;
  position: relative;
  padding-right: 0;
  
  transition: padding-right 0.5s;
}

.button span:after 
{
  content: ' ';  
  position: absolute;
  top: 0;
  right: -18px;
  opacity: 0;
  width: 10px;
  height: 10px;
  margin-top: -10px;

  background: rgba(0, 0, 0, 0);
  border: 3px solid #FFF;
  border-top: none;
  border-right: none;

  transition: opacity 0.5s, top 0.5s, right 0.5s;
  transform: rotate(-45deg);
}

.button:hover span, .button:active span 
{
  padding-right: 30px;
}

.button:hover span:after, .button:active span:after 
{
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  opacity: 1;
  border-color: #0C5;
  right: 0;
  top: 50%;
}



.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#footer {
  color: #888;
  clear: left;
  margin-top: 1em;
  text-align: center;
  padding: 10px;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12pt;
  font-weight: bold;
  text-shadow: 0 2px 4px rgba(0,0,0,1);
}