@import "normalize";

$bright-highlight: #FF0000;

.floatL {
  float: left;
}
.floatR {
  float: right;
}
.clear {
  clear: both;
}
.debug {
  background-color: #F00;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*
.headdiv {
  margin-top: 20px;
  //margin: 12px;
  padding: 5px;
  padding-left:  25px;
  padding-right: 25px;
  margin-bottom: 10px;
  //padding: 80px 0 20px;
  border-radius: 15px;
-webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, .5);
   -moz-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, .5);
        box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, .5);
  //float: left;
  //clear: left;
  display: inline-block;
  background: #888;
}

h1 {
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 1px;
  //text-transform: uppercase;
  //text-shadow: 1px 2px 2px rgba(0,0,0, .8);
  //background: url("../images/middleman.png") no-repeat center 100px;
  //padding: 350px 0 10px;
  //margin: 0;
  //font-family: "Nunito", sans-serif;
  font-variant: small-caps;
  //padding: 20px;
  margin: 0px;
  color: rgba(1,1,1,0.5);
  text-shadow: 0px 0px 8px rgba(255,255,255,0.9);  
}
*/

h1 {
  margin: 0px;
  margin-top: 30px;
  display: inline-block;
  font-weight: 700;
  font-size: 31.5px;
  font-feature-settings: "kern";
  letter-spacing: 1px;
  //color: rgba(1,1,1,0.8);
  color: #ddd;
  text-shadow: 0px 0px 8px rgba(0,0,0,0.3);

font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
font-style: normal;
font-weight: 300;
font-size: 21px;
line-height: normal;
font-size-adjust: none;
font-stretch: normal;
font-language-override: normal;
font-synthesis: weight style;
font-variant: normal;
color: #DDD;
text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
font-feature-settings: "kern";
font-kerning: normal;        
  display: block;
  font-size: 31.5px; // 1.5em;
  font-weight: bold;
  
}


$image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEElEQVQImWNgYGD4z0AZAABABAEAuUSdjgAAAABJRU5ErkJggg==) repeat;

html {
  height: 100%;
background: #45484d;
background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));
background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%);
background: -o-linear-gradient(top,  #45484d 0%,#000000 100%);
background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%);
background: linear-gradient(to bottom,  #45484d 0%,#000000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
background-attachment: fixed;
  /* http://www.patternify.com/ */
  //background: $image;
  //background-color: #141925;
  
  //background: url("../images/screenshot_fbo3.png")
}

/*
body {
  background:url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEElEQVQImWNgYGD4z0AZAABABAEAuUSdjgAAAABJRU5ErkJggg==
  ) repeat;
  //background-color: #080F5E;
  background-color: #141925;
}
*/

@import url(http://fonts.googleapis.com/css?family=Lato:300);

$mybgcol: #444; //#eee;

.doc {
  color: #ddd;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.7;
  cursor: auto;

  background-color: $mybgcol; // #eee; // #ffffff;

  //border-left: solid 2px;
  //border-right: solid 2px;
  //border-bottom: solid 2px;
  
  //border-width:2px; // creates border an all 4 sides
  //border-color:#545454;
  //border-style:solid;

  width:800px;
  height:auto; 
  margin-left:auto;
  margin-right:auto; 
  //vertical-align:text-middle;
  margin-top:       30px;
  //margin-bottom:    30px; 
  padding-left:     30px;
  padding-right:    30px;
  padding-top:      5px;
  padding-bottom:   5px;
  font-size:        16px; /* default css is 16 */
  //font-family:      "Noto Serif", serif; /* "Old Standard TT", "Gentium Book Basic", "Ubuntu" */
  text-align: justify;
  //text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,0.5);
  border-radius: 15px;
-webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, .5);
   -moz-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, .5);
        box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, .5);

}

.doc a {
  transition: all 0.3s;
}
.doc a:link, a:visited, a:active {
  text-decoration: none;
  color: #F90; // #00E;
  border-bottom: 1px solid $mybgcol;
}
.doc a:hover {
  text-decoration: none;
  color: #FA1; // #33F;
  border-bottom: 1px solid #FA1; //#00E;
}

.doc em {
  font-weight: bold;
  font-style: normal;
  color: #eee;
}

@import url(http://fonts.googleapis.com/css?family=Nunito:300);

/*
body { font-family: "Nunito", sans-serif; font-size: 24px; }
a    { text-decoration: none; }
p    { text-align: center; }
sup  { font-size: 36px; font-weight: 100; line-height: 55px; }
*/

#button
{
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  
  //margin: 5em auto;
  
  //position: absolute;
  //position: relative; 
  //top:0; right:0; bottom:0; left:0;
  
  width: 220px;
  max-widht: 220px;
  display: inline-block;

  height: 20px;

  padding: 20px 10px;
  border-radius: 10px;

  margin: 0;
  
  background: #0D6;
  border: 1px solid #0D6;
  color: #FFF; // !important;
  overflow: hidden;
  
  transition: all 0.5s;
}

#button:hover, .button:active 
{
  text-decoration: none;
  color: #0C5;
  border-color: #0C5;
  background: #FFF;
}

#button span 
{
  display: inline-block;
  position: relative;
  padding-right: 0;
  // this centers vertically:
  @include vertical-align;
  
  transition: padding-right 0.5s;
}

#button span:after 
{
  content: ' ';  
  position: absolute;
  top: 0;
  right: -18px;
  opacity: 0;
  width: 10px;
  height: 10px;
  margin-top: -10px;

  background: rgba(0, 0, 0, 0);
  border: 3px solid #FFF;
  border-top: none;
  border-right: none;

  transition: opacity 0.5s, top 0.5s, right 0.5s;
  transform: rotate(-45deg);
}

#button:hover span, #button:active span 
{
  padding-right: 30px;
}

#button:hover span:after, #button:active span:after 
{
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  opacity: 1;
  border-color: #0C5;
  right: 0;
  top: 50%;
}


// https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
.videowrapper {
    float: none;
    clear: both;
    width: 80%;
    position: relative;
    padding-bottom: 45%; // 0.8 (pct width) * 9 / 16, default value would be 56.25%; for 100% width and for 16:9
    padding-top: 25px;
    margin-left: auto; // setting both left and right to auto centers...
    margin-right: auto;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@mixin margin-tb($m) {
  margin-top: $m;
  margin-bottom: $m;
}
@mixin margin-lr($m) {
  margin-left: $m;
  margin-right: $m;
}
@mixin padding-tb($m) {
  padding-top: $m;
  padding-bottom: $m;
}
@mixin padding-lr($m) {
  padding-left: $m;
  padding-right: $m;
}



#feature {
  //float: left;
  //width: 33%;
  //margin-right: 1%;
}
$lrmargin: 18px;
#featureheader {
    //padding-left: 10px;
    //@include margin-lr($lrmargin);
    @include padding-tb(5px); // defines the "height"
    @include margin-tb(20px);
    //margin-left: auto;
    //margin-right: auto;
    background-color: #333; //#888;
    color: #eee;
    border-radius: 8px;
    //width: auto;
    //display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    text-shadow: 1px 1px 2px #000000; // rgba(0,0,0,1);
    //text-shadow: 1px 1px 2px #FFF; // rgba(0,0,0,1);
    letter-spacing: 1px;
    //float: left;
    width: 100%;
}
#featuredesc {
    font-size: 14px;
    line-height: 1.7;
    text-align: juistfy; //center;
    clear: left;
}

/*
#feature {
  float: left;
  width: 33%;
  //margin-right: 1%;
}
$lrmargin: 18px;
#featureheader {
    //padding-left: 10px;
    @include margin-lr($lrmargin);
    @include padding-tb(5px); // defines the "height"
    @include margin-tb(20px);
    background-color: #888;
    color: #eee;
    border-radius: 8px;
    //width: auto;
    //display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    text-shadow: 1px 1px 2px #000000; // rgba(0,0,0,1);
    //text-shadow: 1px 1px 2px #FFF; // rgba(0,0,0,1);
    //letter-spacing: -1px;
}
#featuredesc {
    font-size: 13px;
    line-height: 1.2;
    margin-left:  $lrmargin;
    margin-right: $lrmargin;
    text-align: juistfy; //center;
}
*/


/*
#rowwrapper{
  width: 100%;
  //height:auto;
  border:1px solid green;
  //display: block;
  //clear: both;
  overflow: hidden;
  padding: 10px;
}

#left-div{
  float: left;
  //width: 50%;
  border:1px solid blue;
  @include vertical-align;
}

#right-div{
  //float: right;
  //width:40%;
  border:1px solid red;
  @include vertical-align;
}
*/
#rowwrapper {
    //border:1px solid red;
    width: 100%;
    padding:5px;
    //overflow:hidden;
    //position: relative;
    height: 90px;
}
#left-div {
    //border:1px solid blue;
    //width:200px;
    float:left;
    display: inline-block;
    @include vertical-align;
}
#right-div {
    //border:1px solid green;
    //width:300px;
    float:right;
    display: inline-block;
    @include vertical-align;
}

.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 36px;
    height: 36px;
    padding: 8px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    
    font: 32px Arial, sans-serif;
}


#footer {
  // same as .doc
  color: #888;
  width:800px;
  height:auto; 
  margin-left:auto;
  margin-right:auto; 

  //margin-top: 1em;
  //text-align: center;
  padding-bottom: 60px;
  
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12pt;
  font-weight: bold;
  text-shadow: 0 2px 4px rgba(0,0,0,1);
  
}

#footer a {
  color: #888;
  text-decoration: none;
}

