<div>
  <h1>Contact</h1>
  <p>
    If you have problems/feedback/suggestions feel free to contact me:
  </p>
  <p style="text-align: center">
    <em>contact </em><code>&lt;AT&gt;</code><em> guitargeeksvr.com</em>
  </p>
  <p>
  </p>
</div>
    
