---
---
<div>
  <h1>Warning</h1>
  <p>
    GuitarGeeksVR is currently in an early <em>alpha</em> state, and will likely have a few bugs.
    Furthermore, the VR experience is not yet very smooth due to some issues of the Oculus Rift library.
    Until these issues are resolved, you will probably experience some <em>judder</em>.
    In the <%=link_to "documentation", "documentation.html"%> you can find a few tips, which may help to optimize the experience.
  </p>
  
  <h1>Download</h1>
  <p>
    GuitarGeeksVR requires a Java Runtime Environment to run.
    If you are a Windows user and you do not have a JRE installed, we have special versions for you which are bundled with a JRE (the version differ in the JRE only, which is either 32 bit or 64 bit).
    If you already have JRE, you can pick the cross platform version.
    This version should work for all platforms: Windows, Mac OS X, and Linux.
  </p>

  <p><em>Current version:</em> 0.1.0 alpha</p>

  <div id="rowwrapper">
    <div class="clear"></div>
    <div id="left-div">
      Windows version bundled with 64-bit JRE
    </div>
    <div id="right-div">
      <a href="downloads/guitargeeksvr_jre64_0.1.0.zip" id="button">
        <span>Download</span>
      </a>
    </div>
    <div class="clear"></div>
  </div>
  <div id="rowwrapper">
    <div class="clear"></div>
    <div id="left-div">
      Windows version bundled with 32-bit JRE
    </div>
    <div id="right-div">
      <a href="downloads/guitargeeksvr_jre86_0.1.0.zip" id="button">
        <span>Download</span>
      </a>
    </div>
    <div class="clear"></div>
  </div>
  <div id="rowwrapper">
    <div class="clear"></div>
    <div id="left-div">
      Cross-platform version (Windows, Mac OS X, Linux) without JRE
    </div>
    <div id="right-div">
      <a href="downloads/guitargeeksvr_0.1.0.tar.gz" id="button">
        <span>Download</span>
      </a>
    </div>
    <div class="clear"></div>
  </div>
    
  <h1>Installation Instructions</h1>

  <div class="numberCircle">1</div>
  <p>
    Download an appropriate version from above.
    GuitarGeeksVR does not require any actual installation.
    Extract the archive anywhere you want to run it.
    In order to launch GuitarGeeksVR use either the .exe on Windows or one of the launch scripts on Linux/Mac OS X.
    It is recommended to launch GuitarGeeksVR once in order to create its configuration directory.
  </p>
  <div class="numberCircle">2</div>
  <p>
    Since GuitarGeeksVR does not include any tabs, you have to download some tabs from an external site.
    In order to use the tabs you have tell GuitarGeeksVR where your tabs are stored.
    The easiest way is to copy your tabs in the subfolder <code>tabs</code> in the GuitarGeeksVR configuration folder.
    The configuration folder is located in:
    <ul>
      <li><code>&#37;LOCALAPPDATA&#37;/GuitarGeeksVR</code> on Windows</li>
      <li><code>~/Library/Application Support/.GuitarGeeksVR</code> on Mac OS X</li>
      <li><code>~/.GuitarGeeksVR</code> on Linux</li>
    </ul>
    <p>
    If you want to, you can structure your tabs into arbitrary subfolders, which can help to search your tabs within GuitarGeeksVR.
    If you don't want to store your tabs in this folder, or if you want to use several tab folders in different locations, you can modify the file <code>settings.json</code> in the configuration folder. For example your configuration could look like this:   </p>
    <div class="codewrap">
      <% code("json") do %>
{
  "watchedTabFolders" : [ "/home/yourname/.GuitarGeeksVR/tabs",
                          "/home/yourname/some/other/path" ],
  "backgroundColors" : [ "080F5EFF",
                         "222222FF",
                         "002A36FF",
                         "1F2229FF",
                         "042129FF",
                         "4997D0FF",
                         "EEEEEEFF" ],
  "headRollThreshold" : 30.0,
  "soundfont" : "/home/yourname/.GuitarGeeksVR/soundfonts/Unison.SF2"
}<% end %>
    </div>
  </p>  
  <div class="numberCircle">3</div>  
  <p>
    <em>Optional:</em>
    Install a soundfont.
    The overall sound quality depends a lot on the MIDI soundfont that is used.
    Most JRE include a soundfont, but in general it is low quality.
    To improve the sound quality, you can experiment with different soundfonts.
    In order to tell GuitarGeeksVR to use a specific soundfont, you have to add a corresponding entry to your <code>settings.json</code> (see example above).
  </p>
</div>



