---
---
<div>
  <h1>Warning</h1>
  <p>
    GuitarGeeksVR is currently in an early alpha state, and will likely have a few bugs.
    Furthermore, the VR experience is not yet very smooth due to some issues of the Oculus Rift library.
    Until these issues are resolved, you will probably experience some judder.
    In the <%=link_to "documentation", "documentation.html"%> you can find a few tips, which may help to optimize the experience.
  </p>
  
  <h1>Download</h1>
  <p>
    <a href="#" id="button">
      <span>Download</span>
    </a>
  <p>
    
  <h1>Installation Instructions</h1>
  <p>
    <%= lorem.sentences 5 %>
  </p>
  
  <p>Test</p>
</div>



