---
title: GuitarGeeksVR
---

<div class="welcome">
  Test, cool!
  <p>
    <div class="videowrapper">
      <iframe
        src="https://www.youtube.com/embed/dTiWn9KSMyg?controls=2">
      </iframe>
    </div>
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
