---
title: GuitarGeeksVR
---

<div class="welcome">
  Play guitar in virtual reality.
  <br />
  
  Features:
  <ul>
    <li>Reads any GuitarPro tablature</li>
    <li>Simple user interface</li>
  </ul>

  
  <p>
    <div class="videowrapper">
      <iframe
        src="https://www.youtube.com/embed/dTiWn9KSMyg?controls=2">
      </iframe>
    </div>
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
