---
---

<div class="welcome">

  <!-- 
  Play guitar in virtual reality.
  <br /> 
  -->

  <!--
  <%= image_tag '../images/WhiteExample.png', :width => '100%' %>
  -->

<h1>What is GuitarGeeksVR?</h1>

<p>
GuitarGeeksVR is a software allowing to practice guitar by visualizing tablature in virtual reality.
Its primary goal is to make practicing guitar fun, bridging the gap between musical notation and actual playing.
GuitarGeeksVR is free and cross-platform.
</p>

<p>
  <div class="videowrapper">
    <iframe src="https://www.youtube.com/embed/dTiWn9KSMyg?controls=2"> </iframe>
  </div>
</p>


<h1>Where can I get GuitarGeeksVR?</h1>

<p>
If you want to try out GuitarGeeksVR you can download it <%= link_to "here", "download.html"%>.
Note that GuitarGeeksVR is designed specifically for VR and requires an Oculus Rift DK1/DK2.
</p>




<h1>What makes GuitarGeeksVR unique?</h1>

<div>
<div id="feature">
  <div id="featureheader">VR support</div>
  <div id="featuredesc">
    GuitarGeeksVR is the first guitar practice tool to support stereoscopic vision.
    Visualizing guitar tablature is generally a three-dimensional problem, because each note has a time, a string, and a fret.
    Compared to 2D displays, VR can finally provide the missing third dimension.
  </div>
</div>


<div id="feature">
  <div id="featureheader">Practice Efficiency</div>
  <div id="featuredesc">
    <!-- 
    The primary focus of GuitarGeeksVR is practice efficiency.
    When practicing a song, the most important question <em>what</em> to play and <em>how fast</em> to play it.
    The user interface fully exploits 
    -->
    <!-- The VR ecosystem also allows to reoffers a unique possibility: Never drop your guitar/pick while practicing! -->
    VR also allows to revolutionize the user interface.
    With traditional software, practicing is often interrupted by using the mouse or keyboard to
    jump around in a song, repeat a lick, change the playing speed, etc.
    In GuitarGeeksVR, all these basic operations can be done by simple head movements.
    Need to change the tempo? Look to the side.
    Need to repeat that last lick? Lean left.
    Want to jump to the solo immediately? Just a quick glance to the progress bar.
    
  </div>
</div>


<div id="feature">
  <div id="featureheader">Huge Tab Collections</div>
  <div id="featuredesc">
    GuitarGeeksVR itself does not come with any tabs.
    However, GuitarGeeksVR reads almost all MIDI-based tab formats (like GuitarPro).
    This means that you can play pretty much any tab you can find on the web -- and there are lots of high quality tabs out there.
    GuitarGeeksVR also allows to handle huge tab collections:
    Even with 100000 songs, loading a specific song is a matter of a few head movements!
  </div>
</div>
<div class="clear"></div>
</div>
<!-- VR User Inferface: (maybe too technical feature)

Marker System: (maybe include in practice efficiency)
-->


<h1>But in VR I cannot see my guitar!</h1>

<p>
Yes exactly, and maybe you don't have to -- just like classical string players don't watch their fingers.
It will definitely take some time to get used to guessing the fret you are at.
<!-- Look at it this way, -->
<!-- The benefit of -->
<!-- Eventually, you will develop a much better "fretboard orientation". -->
Look at it this way: By playing/practicing in VR, you will also work on your general fretboard orientation.
In the worst case, you will play a few wrong notes.
In the best case, you no longer have to rely on watching your fretboard in your regular playing as well.
Whether or not it works <em>for you</em>, I don't know, but you will probably only find out by giving it a <%= link_to "try", "download.html"%>.
Or by the slightly less pleasant alternative: Practicing blindfolded.
</p>



<h1>How does GuitarGeeksVR compare to ...?</h1>

<div>
<div id="feature">
  <div id="featureheader">Rocksmith</div>
  <div id="featuredesc">
    Rocksmith is awesome -- at least, if you are satisfied with learning a few mainstream tabs. If you are interested in anything slightly more specific, there is no alternative to MIDI-based tabs unfortunately. In contrast to Rocksmith's proprietary music format, GuitarGeeksVR uses MIDI-based tabs. In terms of sound quality, Rocksmith stands head and shoulders... MIDI-based tabs sound crappy, but it allows you to play pretty much any tab you can find on the web -- and there is a lot of high quality tabs out there. Another advantage of the MIDI-based tabs: You can control playback speed and tuning arbitrarily without any sound artifacts.  
  </div>
</div>
<div id="feature">
  <div id="featureheader">Guitar Pro / Tuxguitar</div>
  <div id="featuredesc">
    Guitar Pro / Tuxguitar are awesome as well, and probably the best solutions for practicing guitar.
  </div>
</div>
</div>

  
</div><!-- .welcome -->
